<!-- your-site/_layouts/default.html -->

<main>
  {{ content }}
</main>

<!-- 여기에 푸터 코드 삽입 -->
<div style="text-align: center;">
  <div style="background-color: #00cc66; border-radius: 10px; padding: 10px 16px; display: flex; align-items: center; justify-content: center; margin-top: 3em;">
  <img src="/assets/images/researchgate_icon.png" alt="ResearchGate Icon" width="24px" style="margin-right: 10px;" />
  <a href="https://www.researchgate.net/profile/Beomju-Hwang" target="_blank" style="color: white; font-weight: bold; text-decoration: none;">
    ResearchGate
  </a>
</div>
</div>
